.addTool{
    position: absolute;
    top: 21vh;
    right: 20px;
    display: flex;
    height: 9vh;
    min-width: fit-content;
    width: 15vw;
    background-color: var(--hecoGray);
    border: 2px solid var(--hecoOrange);
    color: var(--hecoOrange);
    font-weight: bold;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    font-size: 4vh;
    display: none;
}
.tableContent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hecoGray);
    border: 2px solid var(--hecoGrayDark);
    height: 4vh;
}
.tableCat{
    margin-left: 0vw;
    margin-right: 0vw;
    color: var(--hecoGray);
    background-color: rgb(163, 161, 161);
    font-size: 2vh;
    font-weight: bold;
    width: 33vw;
    height: 100%;
    text-align: center;
    border: 2px solid var(--hecoGrayDark);
}
.tableCatItem{
    margin-left: 0vw;
    margin-right: 0vw;
    color: var(--hecoGrayDark);
    font-size: 2vh;
    width: 33vw;
    height: 100%;
    text-align: center;
    border: 2px solid var(--hecoGrayDark);
}
.modalAddToolContainer{
    width: 100vw;
    height: 80vh;
    position: absolute;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalAddTool{
    height: 60vh;
    aspect-ratio: 1/2;
    background-color: rgba(20, 76, 220, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rowAddTool{
    width: 90%;
    height: 20%;
    margin-left: 5%;
}
.rowAddTool p{
    font-size: 3vh;
}
.rowAddTool input{
    width: 90%;
}
.confirmPart{
    border: 3px solid black;
    width: fit-content;
    align-self: center;
    font-size: 4vh;
}
@media screen and (min-width: 550px) {
    .tableContent{
        height: 8vh;
    }
    .tableCat{
        font-size: 5vh;
    }
    .tableCatItem{
        font-size: 5vh;
    }
    .addTool{
        display: block;
    }
}